.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0 auto;
  justify-content: center;
}

.App-header > div {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stat-area {
  border: 1px groove white;
  width: 80%;
  height: 250px;
  border-radius: 0.2em;
  background-color: #15191f;
}

.generate-btn {
  width: 8em;
  height: 3em;
  background-color: #232325;
  color: white;
  margin-top: 2em;
  outline: none;
  border-radius: 0.2em;
}

.generate-btn:hover {
  cursor: pointer;
  color: #15191f;
  background-color: white;
}

.sub-title {
  font-size: 0.5em;
}

.loading {
  background: url("./loading.gif");
  height: 250px;
  width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: 50%;
}

.sort-links {
  font-size: 0.5em;
  align-self: flex-end;
  margin-bottom: 0.8em;
  margin-right: 10%;
}

.sort-links span {
  color: white;
  margin: 0em 1em;
}

.sort-links span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main-title {
  margin-bottom: 0.2em;
}